In [25]:
import pandas as pd

filepath = '../data/sample.csv'
# pd.read_csv(filepath,encoding='cp949')

ts_ms = pd.date_range(start = '2025-01-01',end = '2025-10-02', 
                      periods=100,
                      tz = 'Asia/Seoul'
                      )
data = {'date' : ts_ms.strftime('%y-%m-%d')}
df = pd.DataFrame(data)

#연도를 추출해서 새로운 컬럼으로 넣기
# df.info() # dtype - object로 나옴
df['date'] = pd.to_datetime(df.date)
df['year'] = df.date.dt.year
df['month'] = df.date.dt.month
df['day_int'] = df.date.dt.weekday  # 0 월요일

def convert_week(x):
    temp = ['월' , '화' , '수' , '목' , '금' , '토' , '일']
    return temp[x]
df['df_str'] = df['day_int'].apply(lambda x : convert_week(x))
df.head() # 학습할때는 object X

# 주말(토,일) 1 /  나머지는 0_weekend'] = df['day_str
df['day_weekend'] = df['df_str'].apply(lambda x: 1 if x in ['토', '일'] else 0)
df.head()

C:\Users\playdata\AppData\Local\Temp\ipykernel_24596\3501527352.py:15: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['date'] = pd.to_datetime(df.date)

        date  year  month  day_int df_str  day_weekend
0 2001-01-25  2001      1        3      목            0
1 2003-01-25  2003      1        5      토            1
2 2006-01-25  2006      1        2      수            0
3 2009-01-25  2009      1        6      일            1
4 2012-01-25  2012      1        2      수            0

In [10]:
%pip install holidays

Collecting holidays
  Downloading holidays-0.81-py3-none-any.whl.metadata (49 kB)
Requirement already satisfied: python-dateutil in c:\users\playdata\appdata\roaming\python\python313\site-packages (from holidays) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\playdata\appdata\roaming\python\python313\site-packages (from python-dateutil->holidays) (1.17.0)
Downloading holidays-0.81-py3-none-any.whl (1.3 MB)
   ---------------------------------------- 0.0/1.3 MB ? eta -:--:--
   -------- ------------------------------- 0.3/1.3 MB ? eta -:--:--
   ---------------------------------------- 1.3/1.3 MB 3.8 MB/s  0:00:00
Installing collected packages: holidays
Successfully installed holidays-0.81
Note: you may need to restart the kernel to use updated packages.

In [19]:
import holidays

kr_holiday = holidays.KR(years = [2025])
kr_holiday.append({ '2025-10-10' : '휴강' })

sorted(kr_holiday.items() , key=lambda x: x[0])#정렬이 안돼서 정렬하긔

for key , value in kr_holiday.items():
    print(f'{key}:{value}')

# 2025년 10월 10일 학원 휴강이니까  추가해보자

2025-01-01:신정연휴
2025-01-29:설날
2025-01-28:설날 전날
2025-01-30:설날 다음날
2025-03-01:삼일절
2025-05-05:부처님오신날; 어린이날
2025-06-06:현충일
2025-08-15:광복절
2025-10-03:개천절
2025-10-09:한글날
2025-10-06:추석
2025-10-05:추석 전날
2025-10-07:추석 다음날
2025-12-25:기독탄신일
2025-03-03:삼일절 대체 휴일
2025-05-06:부처님오신날 대체 휴일; 어린이날 대체 휴일
2025-10-08:추석 대체 휴일
2025-01-27:임시공휴일
2025-06-03:대통령 선거일
2025-10-10:휴강

In [ ]:
df['date'][0] in kr_holiday # 날짜 조회 1번째 방법

True

In [ ]:
pd.to_datetime('2025-01-01') in kr_holiday # 날짜 조회 2번째 방법

True

In [22]:
#holiday : 1 , not : 0



df['is_holiday'] = 0
df.head()

        date  year  month  day_int df_str  is_holiday
0 2001-01-25  2001      1        3      목           0
1 2003-01-25  2003      1        5      토           0
2 2006-01-25  2006      1        2      수           0
3 2009-01-25  2009      1        6      일           0
4 2012-01-25  2012      1        2      수           0