In [3]:
import pandas as pd

In [8]:
df = pd.read_csv('C:/Users/playdata/Desktop/SKN20-1ST-1TEAM-main/pandas-data-analysis/sample.csv',encoding='cp949') # 백슬러시는 특수문자로 인식하기에 슬러시로 바꿔줘야함.
df.iloc[:5,:5]

     상가업소번호        상호명  지점명 상권업종대분류코드 상권업종대분류명
0  19956873     하나산부인과  NaN         S       의료
1  20024149   타워광명내과의원  NaN         S       의료
2  20152277  조정현신경외과의원  NaN         S       의료
3  20350610   한귀원정신과의원  NaN         S       의료
4  20364049  더블유스토어수지점  수지점         S       의료